<p>get-demo works!</p>
<input type="text" #textId>
<button (click)="getUser(textId.value)" >Get User</button>
<hr>
<ng-container *ngIf="notFound">
    Usuario no encontrado
</ng-container>

<ng-container *ngIf="user">
    <div>
      Cedula: {{user.Cedula}}
    </div>
    <div>
      Nombre: {{user.Nombres}}
    </div>
    <div>
      Apellido: {{user.Apellido1 +' '+user.Apellido2}}
    </div>
    <div>
      Fecha: {{user.FechaNacimiento}}
    </div>
    <div>
      Foto: <img src="{{user.foto}}" alt="">
    </div>
</ng-container>
