<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h4>Felix Jose Ynfante Quezada</h4>
    <p>Soy estudiante de tecnologia en software en el Instituto Tecnologico de las Americas. Me encantan los retos, y poder solucionar problemas de la manera mas eficiente posible. Soy desarrollador junior, y de las tecnologias que mas me gusta trabajar son:</p>
    <ul>
        <li>ASP.NET Core MVC</li>
        <li>SQL Server</li>
        <li>MYSQL</li>
        <li>JavaScript</li>
        <li>Angular</li>
        <li>Android Studio</li>
    </ul>
</body>
</html>
