<div class="dCard mt-4 mx-auto card p-4">
    <h4 class="tRegistrar">Felix Jose Ynfante Quezada

      <img src="../../../assets/images/yop.png" class=" rounded img-fluid  bg-secondary" alt="">

      <p id="ripi" class="mt-4 ">
        Soy estudiante de tecnologia en software en el Instituto Tecnologico de las Americas. Me encantan los retos, y poder solucionar problemas de la manera mas eficiente posible. Soy desarrollador junior, y de las tecnologias que mas me gusta trabajar son:</p>
    </h4>

    <ul>
        <li>ASP.NET Core MVC</li>
        <li>SQL Server</li>
        <li>MYSQL</li>
        <li>JavaScript</li>
        <li>Angular</li>
        <li>Android Studio</li>
    </ul>
    <p><strong> - Correo: </strong>  felixjoseynfantequezada@gmail.com</p>
    <p><strong>- Telefono: </strong> 809-423-3206</p>
    <p><strong>- Precio: </strong>Por una aplicacion como esta cobraria alrededor de $10,000 pesos</p>
  </div>
