<div class="dCard mt-4 mx-auto card p-4">
    <h4 class="tRegistrar">Felix Jose Ynfante Quezada</h4>
    <p>Soy estudiante de tecnologia en software en el Instituto Tecnologico de las Americas. Me encantan los retos, y poder solucionar problemas de la manera mas eficiente posible. Soy desarrollador junior, y de las tecnologias que mas me gusta trabajar son:</p>
    <ul>
        <li>ASP.NET Core MVC</li>
        <li>SQL Server</li>
        <li>MYSQL</li>
        <li>JavaScript</li>
        <li>Angular</li>
        <li>Android Studio</li>
    </ul>
  </div>
