.tRegistrar{
  color: #A32B31;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
body{
  background-image: url('./../assets/images/wave.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
}



